.visualizer-bars {
    display: flex;
    align-items: flex-end;
    width: 70%;
    padding: 30px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: transparent;
    padding: 0;
    height: 420px;
}

.visualizer {
    display: flex;
    justify-content: space-evenly;
    height: 450px;
}

.visualizer-sort-options {
    width: 20%;
    margin: 20px;
    height: 460px;
    color: white;
    margin-top: 70px;
}

.visualizer-sort-controls {
    margin-top: 10%;
}

.button {
    background-color: black;
    border: none;
    border: 1px solid white;
    margin: 5px;
    border-radius: 1px;
    color: white;
    width: 90px;
}

.header {
    letter-spacing: 5px;
    color: white;
    margin: 0
}

.button {
    width: 33%;
    height: 6%;
    font-size: 1vw;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
    border: 1px solid white;
    letter-spacing: 2px;
    border-radius: 5px;
}

.active {
    background: white;
    color: black
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(246, 250, 0), #ff5f1f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}